body {
    /* border: solid 4px #BCBBBD;  */
    padding: 0%;
    margin: 0%;
    background-color: #000000;
}

.section1 {
    height: 100%;
    background-image: url('../assets/Illustrations/Bathome1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
    /* background-position: center; */
}

.navbar {
    /* background-color: #000; Couleur de fond de la barre de navigation */
    border: solid 4px #BCBBBD;
    /* Bordure blanche de 1 pixel */
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-top: 0;
}

.list-head li {
    display: inline-block;
    text-decoration: underline;
    color: aliceblue;
    vertical-align: middle;
}

#logo {
    width: 80%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.p1 {
    text-align: center;
    padding: 10%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 2;
}

.titre {
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
}

.bat {
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    font-style: bold;
}

.call-to-action {
    display: inline-block;
    color: #BCBBBD;
    text-decoration: none;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 30px;
    margin-top: 50px;
    background-image: linear-gradient(to right, #9e9e9e, #82160B);
    /* background-image: linear-gradient(to right, #b56559, #82160B); */
}
.fleche{
    text-align: center;
    margin-bottom: 20px;
}