/* html{
    overflow-x: hidden;
} */

body {
    padding: 0%;
    margin: 0%;
    background-color: #000000;
    color: #fff;
    font-weight: 300;
    font-family: 'Space Grotesk';
    background-image: url('../assets/Illustrations/Bathome1.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;

}

main {
    border: #BCBBBD 2px solid;
    margin: 0 102px;
}

.container {
    width: 80%;
    margin-left: 7%;
    margin-right: 7%;
    /* border: #BCBBBD 2px solid; */

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 50px; */
    padding-top: 5%;
    padding-bottom: 5%;


}

ul {
    list-style: none;
}

nav ul li a {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Rajdhani';
    text-decoration: none;
    color: #fff;
}

ul li a:hover {
    color: #FFFF00;
}


/* partie hero  */
#hero {
    /* background-image: url('../assets/Illustrations/Bathome1.png');
    background-position: top center;
    background-repeat: no-repeat; */
    width: 100%;
    height: 800px;
    background-size: cover;
}

.batman-personnage {
    display: flex;
    justify-content: space-between;
}
h3{
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding-top: 150px;
}

.btn {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 30px;
    margin-right: 5%;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.3) 40%, rgba(137, 0, 8, 0.3) 60%);
    box-shadow: #000000 15px 5px 60px;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 3.2%;
    top: 240px;

}

.slide img {
    margin-top: 30px;
}


.titre {
    font-weight: bold;
    margin: 30px;
    margin-bottom: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
    color: #fff;
}

.description {
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 22px;

}

.fleche {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
    /* margin-bottom: 20px; */
}


.divmulti {
    background-image: linear-gradient(to right, #49463E, #172730);
    display: flex;
    border: #fff solid 1px;
    border-left: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 60%;
    margin: 40px auto;
    padding-bottom: 0;
}

.mutli-description {
    font-size: 15px;
    padding-left: 5px;
}

h2 {
    font-size: 22px;
    padding-left: 5px;
}

h3 {
    font-size: 15px;
    padding-left: 5px;
}

.fleche2 {
    margin-top: 150px;
    text-align: center;
}

.titreform {
    text-align: center;
    padding: 20px;
}

.form {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    /* overflow: auto; */
}


* h5 {
    font-size: 20px;
}
label{
    margin-bottom: 5%;
}

.email {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    height: 2vw;
    font-size: 18px;
    font-family: 'Space Grotesk';


}

.email:focus,
input:focus {
    outline: none;
}

.increase {
    width: 25px;
    height: 25px;
    vertical-align: middle;


}

.choix {
    color: #9e9e9e;
    /* margin-top: 0; */
    text-align: left;
    font-size: 18px;
    font-family: 'Space Grotesk';

}

.fleche3 {
    transform: rotate(90deg);
    width: 25px;
    vertical-align: middle;
    margin-left: 25%;
}

.btnform {
    border: #6b666f 3px solid;
    background-color: #403E3B;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #fff;
    padding-right: 30px;
    padding-left: 30px;
}

.prenomcontact {
    background-image: linear-gradient(to right, #49463E, #172730);
    width: 120%;
    margin-left: -10%;
}

.confirmer {

    color: #BCBBBD;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 5%;
    background-image: linear-gradient(to right, #9e9e9e, #82160B);
}

.contentproverbe {
    text-align: center;
}

.contentpro {
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    font-family: 'Space Grotesk';
    color: #9e9e9e;
}

.footer {
    display: inline-block;
    vertical-align: middle;

}